In [6]:
import pandas as pd

In [7]:
df=pd.read_excel('/Final Project_sales Data (2).xlsx')

In [8]:
df

,Sales_ID,Quantity,Price,Rate,Holiday,customer_first_name,customer_last_name,customer_email,customer_birthdate,customer_gender,...,WH,EmpType,Branch_Name,Branch_Location,PaymentMethod,DEPARTMENT,CATEGORY,OrderedDate,PromotionDate,PromotionType
0,0,40,310.8,8.8,0,Victoria,Rackley,vrackley0@printfriendly.com,1956-11-24,Female,...,6h,Fixed term,A,Amman,Cash,Gifts,Gifts by Recipient,2021-11-15,2021-11-01,No Promotion
1,1,6,29.3,6.2,0,Thatcher,Hickford,thickford1@businessweek.com,1959-04-22,Female,...,6h,Part-time,A,Amman,Ewallet,Designer,SPACE: Emerging & Advanced Designer,2021-12-09,2021-10-14,Free Gift with Purchase
2,2,6,664.7,6.9,1,Rennie,Osgood,rosgood2@ocn.ne.jp,1950-01-09,Female,...,12h,Part-time,C,Zarqa,Ewallet,Kids,Girls' Shoes,2021-06-20,2021-05-02,Free Gift with Purchase
3,3,22,412.9,9.4,1,Sheilah,Labro,slabro3@mysql.com,1953-07-25,Female,...,12h,Shiftworkers,C,Zarqa,Cash,Activewear,Kids' Active Shoes,2021-12-09,2021-11-11,Giveaways
4,4,45,170.5,2.5,0,Byrle,Caraher,bcaraher4@angelfire.com,1965-05-24,Male,...,12h,Full-time,D,Balqa,Ewallet,Kids,Boys' Clothing,2021-09-16,2021-08-05,No Promotion
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3995,138,930.0,2.9,0,Goldarina,Tante,gtante35@ifeng.com,1973-10-20,Male,...,12h,Shiftworkers,F,Online,Cash,Activewear,Women's Activewear,2022-01-05,2021-11-10,Tiered Promotions
3996,3996,87,971.0,9.9,1,Dom,Orcott,dorcottin@uiuc.edu,1992-10-12,Female,...,8h,Part-time,F,Online,Credit card,Men,Jewelry,2021-08-03,2021-06-08,Online Promotion
3997,3997,60,532.1,7.5,1,Harmonie,Windmill,hwindmillm@goodreads.com,1987-10-14,Female,...,8h,Fixed term,F,Online,Ewallet,Men,Grooming & Cologne,2021-02-17,2021-01-27,Sales Promotion
3998,3998,88,390.6,9.9,1,Annemarie,Geany,ageany7w@soundcloud.com,1985-09-02,Male,...,12h,Part-time,F,Online,Cash,Activewear,Men's Activewear,2021-05-04,2021-04-20,Tiered Promotions
3999,3999,91,230.0,3.6,1,Tudor,Forsyth,tforsyth8x@constantcontact.com,1970-08-30,Male,...,8h,Shiftworkers,F,Online,Credit card,Sale,Beauty,2021-09-10,2021-07-23,Tiered Promotions

In [11]:
# drop 

df.drop(['employee_first_name','employee_last_name','employee_email','customer_first_name','customer_last_name','customer_email'],inplace=True, axis=1)

In [10]:
# iterating the columns
for x in df.columns:
    print(x)

Sales_ID
Quantity
Price
Rate
Holiday
customer_first_name
customer_last_name
customer_email
customer_birthdate
customer_gender
Customer_Type
customer_City
City_Area
City_Population
City_Density(people/km2)
employee_first_name
employee_last_name
employee_email
employee_BirthDate
employee_HireDate
RoleDesc
WH
EmpType
Branch_Name
Branch_Location
PaymentMethod
DEPARTMENT
CATEGORY
OrderedDate
PromotionDate
PromotionType

In [15]:
df['customer_City'].unique()

array(['Mafraq', 'Irbid', 'Ajloun', 'Balqa', 'Madaba', 'Zarqa', 'Aqaba',
       'Tafilah', 'Jerash', "Ma'an", 'Karak', 'Amman'], dtype=object)

In [19]:
df["customer_City"]=df["customer_City"].replace(["Mafraq","Zarqa","Amman"], "East")
df["customer_City"]=df["customer_City"].replace(["Irbid","Ajloun","Jerash"], "North")
df["customer_City"]=df["customer_City"].replace(["Balqa","Madaba","Karak","Tafilah"], "West")
df["customer_City"]=df["customer_City"].replace(["Ma'an","Aqaba"], "South")
df["customer_City"]

0        East
1       North
2       North
3        west
4        East
        ...
3995     west
3996    South
3997     East
3998     East
3999    North
Name: customer_City, Length: 4000, dtype: object

In [21]:
df['Branch_Location'].unique()
df["Branch_Location"]=df["Branch_Location"].replace(["Mafraq","Zarqa","Amman"], "East")
df["Branch_Location"]=df["Branch_Location"].replace(["Irbid","Ajloun","Jerash"], "North")
df["Branch_Location"]=df["Branch_Location"].replace(["Balqa","Madaba","Karak","Tafilah"], "West")
df["Branch_Location"]=df["Branch_Location"].replace(["Ma'an","Aqaba"], "South")
df["Branch_Location"]

0         East
1         East
2         East
3         East
4         West
         ...
3995    Online
3996    Online
3997    Online
3998    Online
3999    Online
Name: Branch_Location, Length: 4000, dtype: object

In [45]:

from datetime import datetime, date  
# This function converts given date to age 
def age(born): 
    df['customer_birthdate'] = pd.to_datetime(df.customer_birthdate) 
    
    born = datetime.strptime(str(born), 'YYYY-MM-DDTHH: MM:SS').date() 

    today = date.today() 

    return today.year - born.year - ((today.month, today.day) < (born.month, born.day)) 

df['customer_Age'] = df['customer_birthdate'].apply(age)   
display(df)

ValueError: ignored

ValueError: ignored

In [34]:
df['customer_Age'] = pd.to_datetime(df.customer_birthdate) 
display(df)
df['customer_Age']
def from_dob_to_age(born):
    today = datetime.date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

,Sales_ID,Quantity,Price,Rate,Holiday,customer_birthdate,customer_gender,Customer_Type,customer_City,City_Area,...,EmpType,Branch_Name,Branch_Location,PaymentMethod,DEPARTMENT,CATEGORY,OrderedDate,PromotionDate,PromotionType,customer_Age
0,0,40,310.8,8.8,0,1956-11-24,Female,Normal,East,26551,...,Fixed term,A,East,Cash,Gifts,Gifts by Recipient,2021-11-15,2021-11-01,No Promotion,1956-11-24
1,1,6,29.3,6.2,0,1959-04-22,Female,Normal,North,1572,...,Part-time,A,East,Ewallet,Designer,SPACE: Emerging & Advanced Designer,2021-12-09,2021-10-14,Free Gift with Purchase,1959-04-22
2,2,6,664.7,6.9,1,1950-01-09,Female,Member,North,420,...,Part-time,C,East,Ewallet,Kids,Girls' Shoes,2021-06-20,2021-05-02,Free Gift with Purchase,1950-01-09
3,3,22,412.9,9.4,1,1953-07-25,Female,Member,west,1120,...,Shiftworkers,C,East,Cash,Activewear,Kids' Active Shoes,2021-12-09,2021-11-11,Giveaways,1953-07-25
4,4,45,170.5,2.5,0,1965-05-24,Male,Member,East,26551,...,Full-time,D,West,Ewallet,Kids,Boys' Clothing,2021-09-16,2021-08-05,No Promotion,1965-05-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3995,138,930.0,2.9,0,1973-10-20,Male,Member,west,3495,...,Shiftworkers,F,Online,Cash,Activewear,Women's Activewear,2022-01-05,2021-11-10,Tiered Promotions,1973-10-20
3996,3996,87,971.0,9.9,1,1992-10-12,Female,Member,South,32832,...,Part-time,F,Online,Credit card,Men,Jewelry,2021-08-03,2021-06-08,Online Promotion,1992-10-12
3997,3997,60,532.1,7.5,1,1987-10-14,Female,Member,East,26551,...,Fixed term,F,Online,Ewallet,Men,Grooming & Cologne,2021-02-17,2021-01-27,Sales Promotion,1987-10-14
3998,3998,88,390.6,9.9,1,1985-09-02,Male,Member,East,26551,...,Part-time,F,Online,Cash,Activewear,Men's Activewear,2021-05-04,2021-04-20,Tiered Promotions,1985-09-02
3999,3999,91,230.0,3.6,1,1970-08-30,Male,Member,North,1572,...,Shiftworkers,F,Online,Credit card,Sale,Beauty,2021-09-10,2021-07-23,Tiered Promotions,1970-08-30

NameError: ignored

In [57]:
from datetime import date
for i in df['customer_birthdate']:
  df['customer_birthdate'] = pd.to_datetime(df.customer_birthdate) 
  today = date.today()
  df['customer_Age']=today-i

TypeError: ignored